torch==2.3.0 
torchvision==0.18.0 
torchaudio==2.3.0
diffusers==0.29.0
xformers==0.0.26.post1 
pytorch-lightning==2.0.1 
psutil 
omegaconf==2.3.0
opencv-python 
scikit-image 
timm==0.9.16 
tokenizers==0.15.2
scipy==1.9.1 
tensorboardx==2.6 
termcolor==2.4.0 
pandas==2.0.3 
transformers==4.38.0 
einops 
datasets 
numpy==1.24.4
accelerate==0.32.1
av==11.0.0 
basicsr==1.4.2 
decord 
loralib
open_clip_torch 
kornia 
optimum 
bs4 
wandb 
sentencepiece~=0.1.99 
ftfy 
beautifulsoup4
